
image: Visual Studio 2017
version: 1.0.{build}
build_script:
- ps: >-
    dotnet restore HardHat.sln --source https://api.nuget.org/v3/index.json
        dotnet build HardHat.sln
        if($env:APPVEYOR_REPO_TAG -eq "true")
        {
          dotnet pack src\HardHat\HardHat.csproj --configuration Release --output ..\..\output /p:Version=$env:APPVEYOR_REPO_TAG_NAME
        }
test_script:
- ps: dotnet test src\HardHat.UnitTests\HardHat.UnitTests.csproj
artifacts:
- path: output\**.nupkg
deploy:
- provider: NuGet
  api_key:
    secure: bGn7M6dHOJ3QjwYIv7e34tcY/n9cCUZmL1MnM6jRfmnJOOfwlrS+cdRj2n8Wf31n
  on:
    appveyor_repo_tag: true